name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release
    - name: Run tests
      run: cargo test --verbose --release

  publish:
    needs: build
    name: publish to crates.io
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
      - uses: katyo/publish-crates@v2
        with:
          # Cargo registry token
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          # Skip execution cargo publish
          # dry-run: ${{ github.event_name != 'push' }}
          dry-run: true # test
          # Extra post publish delay (milliseconds)
          publish-delay: 5000

  
  github_release:
    name: Generate Github release
    runs-on: ubuntu-latest
    needs: [publish]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ needs.bump_version.outputs.commit }}

      - name: Generate changelog
        id: github_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          fromTag: v${{ needs.bump_version.outputs.previous_version }}
          toTag: ${{ needs.bump_version.outputs.commit }}
          outputFile: ${{ github.workspace }}/.github/changelog.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Generate release notes
      #   run: |
      #     # Generate the release notes
      #     echo "Generating release notes..."
      #     echo ""
      #     echo "Changelog: "
      #     cat ${{ github.workspace }}/.github/changelog.txt
      #     echo ""
      #     cat ${{ github.workspace }}/.github/release_notes.template ${{ github.workspace }}/.github/changelog.txt \
      #       | sed 's/{version}/${{ env.VERSION }}/g' \
      #       > ${{ github.workspace }}/.github/release_notes.txt
      #   env:
      #     VERSION: ${{ needs.bump_version.outputs.version }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        id: rules_rust_release
        env:
          GIT_TAG: ${{ needs.bump_version.outputs.tag }}
          COMMIT: ${{ needs.bump_version.outputs.commit }}
        with:
          generate_release_notes: true
          tag_name: ${{ env.GIT_TAG }}
          body_path: ${{ github.workspace }}/.github/release_notes.txt
          target_commitish: ${{ env.COMMIT }}
